.back{
	margin:0px auto;
	width: 1000px;
	height: 1000px;
	background-color: #C6DAD2;
	border: 10px solid #000;
	font-size: 50px;
}
.size{
	width: 100px;
	height: 100px;
}
.black{
	background: #A67E5B;
}
.white{
	background: #E7D0A7;
}
.pos{
}
.white-1{
	background:white;
}

.colons-1{
	margin-left: 100px;
	margin-top: -1000px;
}

.colons-2{
	margin-left: 200px;
	margin-top: -1000px;
}
.colons-3{
	margin-left: 300px;
	margin-top: -1000px;
}
.colons-4{
	margin-left: 400px;
	margin-top: -1000px;
}
.colons-5{
	margin-left: 500px;
	margin-top: -1000px;
}
.colons-6{
	margin-left: 600px;
	margin-top: -1000px;
}
.colons-7{
	margin-left: 700px;
	margin-top: -1000px;
}
.colons-8{
	margin-left: 800px;
	margin-top: -1000px;
}
.colons-9{
	background:white;
	margin-left: 900px;
	margin-top: -1000px;
}

.pad{
	padding: 0px 0 0 35px;
}
.rotate{
	transform: rotate(180deg);
	padding-left: 10px;
}
.rotate1{
	padding-left: 10px;
}
